h2 {
    background-color: darkblue;
    color : cyan;
}

ul {
    padding-left: 30px;
    margin-top: 50px;
}
.blue-background {
  background-color: blue;
}

input {
    border: 50px;
}
.white-text {
    color: white ;
}
.bold-font {
    font-weight: 600;
}